#nav{
  background-color: navy;
  display: flex;
}
#nav > div{
  font-size: 30px;
  padding: 5px 20px;
  font-family: sans-serif;
}
#nav > div > a{
    color: white;
    text-decoration: none;
}
#nav > div > a:hover{
  color: pink;
}
